

@media only screen and (max-width: 991px) {
    /* body {
      background-color: lightblue;
    } */
    .dowlike{
        font-size: 13px;
    }
    .dv{
        width: 45%;
    }
    .lv{
        width: 55%;
    }
  }
@media only screen and (max-width: 991px) {
    /* body {
      background-color: lightblue;
    } */
    .dowlike{
        font-size: 12px;
    }
   
  }